@charset "UTF-8";
body {
   background-color: yellow;
}
h1 {
   color: red;
   border-bottom: 1px solid gray;
   font-family: serif; 
}
p {
   font-family: serif; 
}

span {
   color : red;
   font-size : 1.5em;
}
